@import "tailwindcss";

:root {
  --background: #f2f3f4;
  --foreground: #231f17;

  /* COLOR PALETTE */
  --primary: #6f040f;
  --secondary: #2f5215;
  --tertiary: #fccf55;
  --dark: #171717;
  --highlight-1: #b24851;
  --highight-2: #6c9e47;
  --button: #0064e6;
  --textWhite: #f2f3f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-dark: var(--dark);
  --color-highlight-1: var(--highlight-1);
  --color-highlight-2: var(--highlight-2);
  --color-button: var(--button);
  --color-textWhite: var(--textWhite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f3f4;
    --foreground: #231f17;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* TYPOGRAPHY */
.heading {
  @apply text-[34px] font-bold;
}

.sub-heading {
  @apply text-[20px] font-semibold;
}

.body-text {
  @apply text-[16px];
}

.caption {
  @apply text-[14px];
}

/* NOT FOUND TYPOGRAPHY */
.not-found-heading {
  @apply text-[36px] font-bold text-primary;
}

.not-found-sub-heading {
  @apply text-[20px] text-primary;
}

.not-found-description {
  @apply text-[16px] text-primary;
}

.not-found-credits {
  @apply text-[12px] text-primary;
}

/* BUTTON */
.button-text {
  @apply text-[14px] font-semibold;
}

/* SHADOW */
.shadow-tb {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.shadow-style {
  box-shadow: 0 -6px 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 8px -2px rgba(0, 0, 0, 0.1);
}

/* TABLE */
.table-style {
  @apply py-2 border-b border-r text-[12px];
}
