openapi: 3.0.0
info:
  title: Authentication APIs
  description: 
    This documentation provides details of how to use or interact with Auth APIs such
    as logins and register. This includes authentication, request & response format, and
    examples for client integration.
  version: 1.0.0
  contact:
    name: Jaylord Pinos Soguilon
    url: https://www.facebook.com/IsBrokenLink/
    email: JaySoguilonIS@gmail.com
  license:
    name: Proprietary - Internal use only.
paths:
  /api/v1/auth/login:
      post:
        tags: [auth]
        description: Authenticate users and returns browser cookies that contains session token
        operationId: AuthLogin
        requestBody:
          required: true
          content:
            application/json:
              schema:
                description: Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.
                properties:
                  email:
                    type: string
                    format: email
                    pattern: /^(?=.{6,30}@)[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*@gmail\.com$/
                  password:
                    type: string
                    pattern: /(?=.{8})[a-zA-Z0-9]+[^a-zA-Z0-9]+/
                required:
                  - email
                  - password
              example: 
                email: "wilhelmine_mcdermott90@hotmail.com"
                password: "Tester123!"
        responses:
          '200':
            description: OK
            headers:
              Set-Cookie:
                description: |-
                  Session cookie. Your browser will handle this automatically.
                  It have an attributes of 'HttpOnly', 'Secure', and 'SameSite=Strict'.
                schema:
                  type: string
                  example: "session_id=abc123...; HttpOnly; Secure; SameSite=Strict; Path=/"
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data: 
                      type: object
                      properties:
                        userId:
                          type: string
                        fullName: 
                          type: string
                        birthDate:
                          type: string
                        sex:
                          type: string #male or female only
                        phone: 
                          type: string
                        email: 
                          type: string
                        address:
                          type: string
                        emergencyName:
                          type: string
                        emergencyPhone:
                          type: string
                        role: 
                          type: string
                        status:
                          type: string
                    message: 
                      type: string
                  example:
                    data:
                      userId: "user-12345"
                      fullName: "John Doe"
                      birthDate: "1990-01-01"
                      sex: "Male"
                      phone: "+15551234567"
                      email: "john.doe@example.com"
                      address: "123 Main St Anytown USA"
                      emergencyName: "Jane Doe"
                      emergencyPhone: "09090909090"
                      role: "user"
                    message: "Logged in successfully"
          '400':
            description: 
              Bad Request. The server could not process the request due to a 
              client error (e.g., malformed JSON, missing required fields, or invalid data types).
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    code: 
                      type: string
                    message:
                      type: string
                examples:
                  Empty request body:
                    value: 
                      code: "BAD_REQUEST"
                      message: "The request is invalid. Please check your parameters and try again."
                  Invalid data type:
                    value:
                      code: "BAD_REQUEST"
                      message: "The request is invalid. Please check your parameters and try again."
          '401':
            description: |
              Unauthorized. This can be due to invalid credentials 
              or a missing authentication token on protected routes.
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                example: 
                  code: "INVALID_CREDENTIALS"
                  message: "Invalid email or password."
          '415':
            description: |
              Unsupported Media Type. This happen because of wrong content-type.
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                example: 
                  code: "UNSUPPORTED_MEDIA_TYPE"
                  message: "The content type of this request is not supported." 
          '429':
            description: |
              Too Many Requests. The request was declined because the client has exceeded the allowed request rate limit.
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                example: 
                  code: "RATE_LIMIT"
                  message: "Too many requests. Please try again later." 
          '500':
            description: |
              Too Many Requests. The request was declined because the client has exceeded the allowed request rate limit.
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                example: 
                  code: "INTERNAL_SERVER_ERROR"
                  message: "An unexpected error occurred on the server. Please try again later." 

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionId
    


